body {
    background: rgb(136, 197, 250);
}

/*
.specimen, .greenery, .pot {
    position: absolute;
}
*/

/* flower petals, leaves */

.greenery {
    display: flex;
    justify-content: center;
}
.stem {
    background: green;
    width: 10px;
    height: 160px;
    margin-left: 0;
}

.leaf1 {
    background: green;
    width: 30px;
    height: 35px;
    border-radius: 10px 20px 10px 30px;
    transform: skew(30deg);
    margin-bottom: 50px;
    margin-top: 70px;
}

.leaf2 {
    background: green;
    width: 30px;
    height: 35px;
    border-radius: 20px 10px 30px 10px;
    transform: skew(-30deg);
    margin-bottom: 70px;
    margin-top: 50px;
}

.pot {
    background: rgb(45, 238, 174);
    margin: auto;
}

.rim {
    background: lightcoral;
    width: 100px;
    height: 10px;
    margin: auto;
    padding-bottom: 8px;
}

.bowl {
    background: lightcoral;
    width: 88px;
    height: 45px;
    margin: auto;
}